html, body, div, span, applet, object, iframe, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 11pt;
    vertical-align: baseline;
}

html, body {
    height: 100%;
    width: 100%;
}

ul li {
    padding: 3px;
}

#map {
    width: 100%;
    height: 90%;
}

#footer {
    width: 100%; 
    height: 10%;
    background-image: url('../img/footer.gif');
    background-repeat:repeat;
    position: absolute;
    z-index: 300;
}

#footer-inner {
    width: 1224px;
    height: 55px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#logo {
    background: url('../img/sprite.png');
    display: inline-block;
    float: left;
    width: 98px;
    height: 47px;
}

#resume {
    background: url('../img/sprite.png') left -48px no-repeat;
    width: 216px;
    height: 100%;
    display: inline-block;
    float: right;
    white-space: nowrap;
    text-indent: 500px;
    overflow: hidden;
    margin: -5px -13px 0 0;
}

#resume:hover{
    background-position: 0 -120px;
}

#resume:active{
    background-position: 0 -192px;
}

#social {
    margin: 20px 0 0 50px;
    display: inline-block;
    float: left;
}

#social-tweet {
    margin: 0 10px 0 10px;
    float: left;
}

#social-vk {
    margin: 0 10px 0 10px;
    float: left;
}

#member-menu{
    padding-top: 5px;
    margin: 5px;
}

.ava {
    width: 50px; 
    height: 50px; 
    margin-left: 5px; 
    display: inline-block;
    cursor: pointer;
}

.info-block{
    display: inline-block;
    width: 300px;
    margin-left: 15px;
    vertical-align: top;
}

.member-photo{
    display: inline-block;
    width: 110px; 
    height: 110px; 
}